/* nejsme vcerejsi, pouzivame moderni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }


/* -------------------------------------------------- */

/*
pouzivame mobile first pristup
tj. vychozi styly mimo media query jsou pro nejmensi mobilni zarizeni
s pribyvajici sirkou pridavame media query pro
středně široké obrazovky:
@media (min-width: 480px) {
}
široké obrazovky
@media (min-width: 860px) {
}
*/


body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

.paticka {
    text-align: center;
    font-size: 14px;
    color: silver;
}

.paticka a {
    color: silver;
}


/* ------------------------------- */
/* ----- DOLE BUDE TVOJE CSS ----- */
/* ------------------------------- */
:root {
    --barvaTextu: white;
    --stinTextu: black;
}

@media screen and (min-width: 375px),(max-width: 479px) {

body {
    
    margin: auto;
    color: var(--barvaTextu);
}

.paticka {
    display: none;
}

.hlavniRecept,
.malyRecept {
    border: 1px solid var(--barvaTextu);
}

.hlavniRecept {
    width: 100%;
    min-height: 200px;
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(../vege/images/salat.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-flow: column-reverse;
    justify-content: space-between;
    padding: 0.5rem;
}

.hlavniRecept h1 {
    font-size: 1.75rem;
    
}

.maleRecepty {
    width: 100%;
    
}

.malyRecept h1 {
    font-size: 1.2rem;
    
}

.malyRecept1 {
    
    --pozadi: url(../vege/images/chlebicek.jpg);   
}

.malyRecept2 {
    --pozadi: url(../vege/images/cizrna.jpg);   
}

.malyRecept3 {
    --pozadi: url(../vege/images/tacos.jpg);   
}

.malyRecept4 {
    --pozadi: url(../vege/images/burger.jpg);  
}

.malyRecept1,
.malyRecept2,
.malyRecept3,
.malyRecept4 {
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), var(--pozadi);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-flow: column-reverse;
    justify-content: space-between;
    padding: 0.5rem;
    width: 100%;
    min-height: 90px;
    border: 0.5px solid var(--barvaTextu);
}

.navigace {
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
}

h3 {
    font-size: 0.8rem;
    font-weight: 400;
    margin-top: 0;
}

h1 {
    margin-bottom: 0;
    font-weight: 800;
}

h1,
h3 {
    text-shadow: 0 2px 3px var(--stinTextu);
    
}
}
@media screen and (min-width: 480px), (max-width: 860px) {

    body {
        width: 768px;
        height: 1024px;
    }

    .hlavniRecept {
        min-height: 250px;
        padding: 1.25rem;
    }

    .hlavniRecept h1 {
        font-size: 2rem;
    }

    .maleRecepty {
        display: flex;
        justify-content: flex-start;
        flex-flow: column wrap;
    }

    .malyRecept1,
    .malyRecept2,
    .malyRecept3,
    .malyRecept4 {
        max-width: 50%;
        font-size: 1.5rem;
        min-height: 150px;
        padding: 1.25rem;
    }
}