/* nejsme vcerejsi, pouzivame moderni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }


/* -------------------------------------------------- */

/*
pouzivame mobile first pristup
tj. vychozi styly mimo media query jsou pro nejmensi mobilni zarizeni
s pribyvajici sirkou pridavame media query pro
středně široké obrazovky:
@media (min-width: 480px) {
}
široké obrazovky
@media (min-width: 860px) {
}
*/


body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

.paticka {
    text-align: center;
    font-size: 14px;
    color: silver;
}

.paticka a {
    color: silver;
}


/* ------------------------------- */
/* ----- DOLE BUDE TVOJE CSS ----- */
/* ------------------------------- */
:root {
    --barvatextu: white;
}


body {
    width: 375px;
    height: 667;
    margin: auto;
    color: var(--barvatextu);
}

.paticka {
    display: none;
}

.hlavniRecept,
.malyRecept {
    border: 1px solid var(--barvatextu);
}

.hlavniRecept {
    width: 100%;
    min-height: 200px;
    background-image: url(../vege/images/salat.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-flow: column-reverse;
}

.hlavniRecept h1 {
    font-size: 1.75rem;
    padding: 0.5rem;
}

.maleRecepty {
    width: 100%;
    
}

.malyRecept {
    width: 100%;
    min-height: 90px;
    
}

.malyRecept h1 {
    font-size: 1.2rem;
    padding: 0.5rem;
}

.malyRecept1 {
    
    --pozadi: url(../vege/images/chlebicek.jpg);   
}

.malyRecept2 {
    --pozadi: url(../vege/images/cizrna.jpg);   
}

.malyRecept3 {
    --pozadi: url(../vege/images/tacos.jpg);   
}

.malyRecept4 {
    --pozadi: url(../vege/images/burger.jpg);  
}

.malyRecept1,
.malyRecept2,
.malyRecept3,
.malyRecept4 {
    background-image: var(--pozadi);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-flow: column-reverse;
}

.navigace {
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
}

h3 {
    font-size: 0.8rem;
    font-weight: 400;
}